@font-face {
    font-family: Colaborate-Regular;
    src: url('../font/colabreg.ttf');
}
a, img {
    border: 0;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    font-family: Colaborate-Regular;
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.background_video_container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.background_video {
    left: 0;
    position: absolute;
    top: 0;
}
.fade_in {
    background-color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.main_container {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.logo {
    background: url('../img/logo.png');
    bottom: 20px;
    display: none;
    height: 48px;
    position: absolute;
    right: 50px;
    width: 206px;
}
.whitebar {
    bottom: 38px;
    display: none;
    left: 0;
    position: absolute;
}
.menu {
    display: none;
}
.mirror1 {
    bottom: 23px;
    display: none;
    left: 20px;
    opacity: 0.2;
    position: absolute;
}
.mirror2 {
    bottom: 23px;
    display: none;
    left: 216px;
    opacity: 0.2;
    position: absolute;
}
.mirror3 {
    bottom: 23px;
    display: none;
    left: 411px;
    opacity: 0.2;
    position: absolute;
}

.nav_link_2 {
    left: 48px;
}
.nav_link_3 {
    left: 50px;
}
.video_nav_menu div {
    background-color: #000;
    cursor: pointer;
    display: block;
    height: 144px;
    position: relative;
    width: 110px;
}
.video_nav_menu p {
    font-size: 14px;
    padding-top: 40px;
    text-transform: uppercase;
}
.video_nav_menu p.video_category {
    color: #999;
    padding-top: 0;
}
.video_nav_menu img {
    left: 0;
    position: absolute;
    top: 0;
}
.bio_nav_menu_wrapper {
    width: 219px;
}
.bio_nav_menu_link {
    background: transparent url('../img/nav/bio_background.png') no-repeat top left;
    color: #fff;
    display: block;
    height: 288px;
    text-align: left;
    width: 219px;
}
.bio_nav_menu_link > div {
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 15px;
    width: 140px;
    z-index: 90;
}
.contact_nav_menu_wrapper {
    width: 210px;
}
.contact_nav_menu_link {
    background: rgba(0, 0, 0, 0.5);
    height: 114px;
    text-align: left;
}
.contact_nav_menu_link > div {
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 15px;
    width: 170px;
    z-index: 90;
}
.bio_nav_menu_container {
    width: 219px;
}
.contact_nav_menu_container {
    width: 210px;
}

.modal_layer {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.modal_close_layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.modal_container {
    display: none;
    position: absolute;
    text-align: right;
    z-index: 100;
}
.close_modal {
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
}
