body {
    overflow: hidden;
}
a {
    border: 0;
}

/* Navigation Style */
.menu {
    bottom: 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    left: 34px;
    letter-spacing: normal;
    line-height: 1.45em;
    list-style: none;
    position: fixed;
    width: 700px;
}
.nav_menu_container {
    float: left;
    position: relative;
    height: 90%;
    width: 130px;
}
.nav_link {
    bottom: 0px;
    color: #ddd;
    cursor: pointer;
    height: 16px;
    left: 0px;
    letter-spacing: 1px;
    line-height: 16px;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 1px #fff;
    width: 110px;
    z-index: 1;
}
.pointer {
    cursor: pointer;
}

/* Thumb Scrolling Style */
.sc_menu_wrapper, .sc_menu_wrapper_short {
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 110px;
}
.sc_menu_wrapper {
    top: 0px;
}
.sc_menu {
    text-align: center;
}
.sc_menu a {
    color: #fff;
    display: block;
}
.sc_menu img {
    border: none;
    display: block;
    opacity: 1;
}
