/*******************************************************************************
 BOILERPLATE
*******************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************************************************************
 CUSTOM CSS
*******************************************************************************/
@font-face {
    font-family: Collaborate;
    src: url('../font/ColabThi.otf'), url('../font/ColabReg.eot'); /* IE9 */
}
@font-face {
    font-family: CollaborateBold;
    src: url('../font/ColabReg.otf'), url('../font/ColabBol.eot'); /* IE9 */
}
html {
    font-family: Collaborate, Arial, sans-serif;
}
body {
    background: #010101;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
span.ColabBol {
    font-family: CollaborateBold, Arial, sans-serif
}
div#wrap {
    background: #000;
    margin: 0 auto;
    width: 320px;
}
div#header {
    background: url('../img/header/bg.jpg') no-repeat top right;
    height: 88px;
    width: 100%;
}
img#logo {
    margin: 24px 0 0 18px;
}
div#navigation {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 100%;
}
div#navigation li {
    border-right: 1px solid #fff;
    display: inline-block;
    margin: 6px 0 6px 0;
    text-align: center;
    width: 32%;
}
div#navigation li.last {
    border-right: none;
}
#navigation a {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    max-height: 100%;
    min-height: 36px;
    text-indent: -9999em;
    width: 100%;
}
a#videos {
    background-image: url('../img/nav/videos.png');
}
a#bio {
    background-image: url('../img/nav/bio.png');
}
a#contact {
    background-image: url('../img/nav/contact.png');
}
div.content {
    min-height: 260px;
}
#c-bio {
    background: url('../img/bio-bg.jpg') no-repeat top right;
    display: none;
}
#c-bio-text {
    display: inline-block;
    font-size: 14px;
    margin: 45px 18px 0 18px;
    width: 160px;
}
#c-bio-text p {
    margin-bottom: 20px;
}
#c-contact {
    display: none;
    font-size: 24px;
    text-align: center;
}
#c-contact-text {
    display: inline-block;
    margin-top: 65px;
}
#c-contact p {
    margin-bottom: 6px;
}
#c-contact a {
    color: #fff;
    text-decoration: underline;
}
div.content li {
    border-bottom: 1px solid #fff;
    display: block;
    height: 93px;
    width: 100%;
}
#c-videos {
    text-transform: uppercase;
}
#c-videos a {
    color: #fff;
    display: inline-block;
    font-family: Collaborate;
    font-size: 14px;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
span.text {
    display: inline-block;
    margin-left: 49%;
    margin-top: 30px;
}
.arrow {
    display: inline-block;
    float: right;
    height: 26px;
    margin-right: 3px;
    margin-top: 33px;
    width: 19px;
}
span.grey {
    color: #939393;
    margin-left: 49%;
    margin-top: 35px;
}
.video_link {
    background-image: url('../img/arrow.png');
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 19px 26px;
}
.video_link img {
    left:-20px;
    position: absolute;
}
